.card{
    position: relative;
    width: 300px;
    max-width: 85vw;
    height: 50vh;
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3);
}
.card > h3{
    position: absolute;
    color: white;
    bottom: 10px;
}
.swipe{
position: absolute;
}
.cards{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}